[submodule "zz-packages/kmod-fb-tft-gc9307"]
	path = zz-packages/kmod-fb-tft-gc9307
	url = https://github.com/zzzz0317/kmod-fb-tft-gc9307.git
	branch = main
[submodule "zz-packages/xgp-v3-screen"]
	path = zz-packages/xgp-v3-screen
	url = https://github.com/zzzz0317/xgp-v3-screen.git
	branch = main
