[submodule "zz-packages/kmod-fb-tft-gc9307"]
	path = zz-packages/kmod-fb-tft-gc9307
	url = https://github.com/zzzz0317/kmod-fb-tft-gc9307.git
	branch = main
[submodule "zz-packages/xgp-v3-screen"]
	path = zz-packages/xgp-v3-screen
	url = https://github.com/zzzz0317/xgp-v3-screen.git
	branch = main
[submodule "zz-packages/others/luci-app-bandix"]
	path = zz-packages/others/luci-app-bandix
	url = https://github.com/timsaya/luci-app-bandix.git
[submodule "zz-packages/others/openwrt-bandix"]
	path = zz-packages/others/openwrt-bandix
	url = https://github.com/timsaya/openwrt-bandix.git
[submodule "zz-packages/others/mt5700webui-openwrt-server"]
	path = zz-packages/others/mt5700webui-openwrt-server
	url = https://github.com/vadimrew/mt5700webui-openwrt-server.git
